storage: none
source https://api.nuget.org/v3/index.json

nuget Microsoft.AspNetCore.App
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.Extensions.Logging.Abstractions
nuget Microsoft.AspNetCore.SignalR
nuget Microsoft.Orleans.Client
nuget Microsoft.Orleans.Server
nuget Microsoft.Orleans.OrleansCodeGenerator
nuget Microsoft.Orleans.Core.Abstractions
nuget Giraffe
nuget TaskBuilder.fs

nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.NET.Test.Sdk
